---
layout: "default"

subject: "Style Guide"
preview-text: "Testing...."

body-class: ""
image-path: "assets/img/"
---

<container>

	<wrapper>
		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>HERO</h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row class="collapse-gutter">
			<columns no-expander>
				<img style="width:600px;" width="600" src="https://source.unsplash.com/user/erondu/600x300" alt="">
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>HEADINGS<br><small>H1 - H6</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<h1>Heading H1<br><small>Small Text</small></h1>
				<h2>Heading H2<br><small>Small Text</small></h2>
				<h3>Heading H3<br><small>Small Text</small></h3>
				<h4>Heading H4<br><small>Small Text</small></h4>
				<h5>Heading H5<br><small>Small Text</small></h5>
				<h6>Heading H6<br><small>Small Text</small></h6>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>PARAGRAPHS<br><small> Lead, Subheader, Default, and Small</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			</columns>
		</row>

		<row>
			<columns>
				<p class="subheader">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			</columns>
		</row>

		<row>
			<columns>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae culpa cumque deleniti earum error et, eum ex exercitationem facilis hic inventore laboriosam maxime perspiciatis quae quasi, sit veniam veritatis!</p>
			</columns>
		</row>

		<row>
			<columns>
				<p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias beatae culpa cumque deleniti earum error et, eum ex exercitationem facilis hic inventore laboriosam maxime perspiciatis quae quasi, sit veniam veritatis!</small></p>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>Horizontal Line</h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<table class="hr"><tr><td></td></tr></table>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>Menu<br><small>Horizontal</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns class="u-pb--none">
				<menu>
					<item href="http://zurb.com">Home</item>
					<item href="http://zurb.com">About</item>
					<item href="http://zurb.com">Blog</item>
					<item href="http://zurb.com">Store</item>
				</menu>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>TEXT LINKS<br><small>Primary and Secondary</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<p class="u-mb-large--none"><a class="primary" href="https://www.google.com/">Primary Text</a></p>
			</columns>
			<columns>
				<p class="u-mb-large--none"><a class="secondary" href="https://www.google.com/">Secondary Text</a></p>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>BUTTON<br><small>Colors, Sizes, Alerts, and Styles</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<button class="primary expanded" href="https://www.google.com/">Primary</button>
			</columns>
			<columns>
				<button class="secondary expanded" href="https://www.google.com/">Secondary</button>
			</columns>
		</row>

		<row>
			<columns>
				<button class="primary expanded" href="https://www.google.com/">
					<span>Text with image</span>
					<img width="12" style="display:inline-block;vertical-align:middle;width:12px;" src="https://gallery.mailchimp.com/7420b8f1f881d2efc5a5ec110/images/8f974737-7719-4695-b195-9d1f7bb7d505.png">
				</button>
			</columns>
		</row>

		<row>
			<columns>
				<button class="primary tiny expanded" href="https://www.google.com/">Tiny</button>
			</columns>
			<columns>
				<button class="primary medium expanded" href="https://www.google.com/">Medium</button>
			</columns>
			<columns>
				<button class="primary large expanded" href="https://www.google.com/">Large</button>
			</columns>
		</row>

		<row>
			<columns>
				<button class="alert expanded" href="https://www.google.com/">Alert</button>
			</columns>
			<columns>
				<button class="warning expanded" href="https://www.google.com/">Warning</button>
			</columns>
			<columns>
				<button class="success expanded" href="https://www.google.com/">Success</button>
			</columns>
		</row>

		<row>
			<columns>
				<button class="primary expanded radius" href="https://www.google.com/">Radius</button>
			</columns>
			<columns>
				<button class="primary expanded rounded" href="https://www.google.com/">Rounded</button>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>CALLOUTS<br><small>Primary and Secondary</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<callout class="primary">
					<row>
						<columns>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</columns>
					</row>
				</callout>
			</columns>
		</row>

		<row>
			<columns>
				<callout class="secondary">
					<row>
						<columns>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores blanditiis consectetur corporis cum dicta dignissimos eius expedita hic id iusto non optio quisquam ratione saepe sunt, tempore temporibus. Eum, facilis?</p>
						</columns>
					</row>
				</callout>
			</columns>
		</row>

		<spacer size="40"></spacer>
		<row class="valign">
			<columns class="u-pb--none">
				<h5>ACCORDION <br/><small>Content will be revealed on outlook clients</small></h5>
			</columns>
		</row>
		<spacer size="12"></spacer>

		<row>
			<columns>
				<accordion>
					<accordion-item>
						<accordion-item-header iconMoreSrc="{{image-path}}icons/arrow-more.png" iconLessSrc="{{image-path}}icons/arrow-less.png">Accordion #1</accordion-item-header>
						<accordion-item-content>
							<p>This is text for 1...</p>
							<a href="##" target="_blank">Link 1</a>
						</accordion-item-content>
					</accordion-item>
					<accordion-item>
						<accordion-item-header iconMoreSrc="{{image-path}}icons/arrow-more.png" iconLessSrc="{{image-path}}icons/arrow-less.png">Accordion #2</accordion-item-header>
						<accordion-item-content>
							<p>This is text for 2...</p>
							<a href="##" target="_blank">Link 2</a>
						</accordion-item-content>
					</accordion-item>
					<accordion-item>
						<accordion-item-header iconMoreSrc="{{image-path}}icons/arrow-more.png" iconLessSrc="{{image-path}}icons/arrow-less.png">Accordion #3</accordion-item-header>
						<accordion-item-content>
							<p>This is text for 3...</p>
							<a href="##" target="_blank">Link 3</a>
						</accordion-item-content>
					</accordion-item>
				</accordion>
			</columns>
		</row>

	</wrapper>
</container>